body {
    margin: 0px;
    padding: 0px;
    background: #f7f9fa;
    overflow-x: hidden;
}
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
input,
textarea,
option,
select,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {} header {
    height: 100px;
    padding-top: 20px;
    background: white;
    border-top: 2px solid #0ca5ea;
}
.trans-white {
    background: rgba(255, 255, 255, 0.9);
    margin-top: 100px!important;
    margin-bottom: 40px!important;
}
.b-none {
    background: none;
    border: 0px;
}
header h4 {
    color: #acadad;
}
header h5 {
    color: #bcbdbd;
    position: relative;
    top: -5px;
}
.hapus {
    background: #e8e9ea!important;
    color: #232424!important;
    border: none!important;
}
.col-blue {
    color: #2b4161
}
.left-text {
    text-align: left!important;
    padding-left: 0px;
}
h4 {
    color: #2b4161;
}
.white {
    background: #fff;
}
.bortom-large {
    border-bottom: 5px solid #bcbdbd;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.sec-fasilitas {
    background: #FFF;
    padding-top: 60px;
    padding-bottom: 60px;
}
.header-fasilitas {
    text-align: center;
    margin-bottom: 40px
}
.sec-fasilitas h3 {
    margin-top: 15px;
    margin-bottom: 5px
}
.checkout {
    background: #2b4161;
    padding: 0px;
    border-radius: 5px 5px 5px 5px;
}
.count-checkout {
    float: left;
    background: #3f526f;
    padding: 15px 20px;
    border-radius: 5px 0px 0px 5px
}
.text-checkout {
    position: absolute;
    text-align: center;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    margin-left: 14px;
    background: #0ca5ea;
    color: #fff;
}
.sec-hubungi {
    background: #e8e9ea;
    padding-top: 60px;
    padding-bottom: 60px
}
.sec-hubungi h3 {
    margin-bottom: 20px
}
.list {
    margin-bottom: 10px
}
.list img {
    width: 25px;
    float: left;
    margin-right: 5px
}
.list p {
    font-size: 13px;
    top: 5px;
    position: relative
}
.check-text {
    float: left;
    color: #fff;
    padding-top: 15px;
    padding-left: 18px;
}
.list #no-icon {
    margin-left: 30px;
}
a {
    color: #6d6d6d;
    cursor: pointer;
}
a:hover {
    color: #333;
    text-decoration: none;
}
.h1,
.h2,
.h3,
h1,
h2,
h3 {
    margin-bottom: 5px;
    margin-top: 5px;
}
.title1 {
    text-align: center;
    color: #2b4161;
    padding: 30px;
}
.patop {
    padding-top: 7px;
}
.title2 {
    background: #eff3f6;
    padding: 10px;
}
.center {
    float: none;
    margin: 0 auto;
}
.float-n {
    float: none;
}
.tabs {
    width: 49.5%;
    text-align: center;
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
    border-bottom-left-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
    border: 1px solid #0ca5ea;
}
.tabs.active {
    border: 0px;
}
#tabsekolah {
    margin-right: 0.5%;
    height: 50px;
}
#tablapak {
    margin-left: 0.5%;
    height: 50px;
}


#tabsekolah a,
#tabsekolah a:hover {
    height: 50px;
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
    border-bottom-left-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
}


#tablapak a,
#tablapak a:hover {
    height: 50px;
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
    border-bottom-left-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
}
#tab-none-border,
#tab-none-border:hover {
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}
.tabs a {
    color: #0ca5ea;
    font-size: 20px;
}
.nav-pills > li > a {
    border-radius: 0px;
    padding: 10px;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:focus,
.nav-pills > li.active > a:hover {
    background-color: #0ca5ea;
    color: #fff;
    outline: 0;
    border-top-left-radius: 9px !important;
    border-top-right-radius: 9px !important;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}
.nav > li > a:focus,
.nav > li > a:hover {
    background-color: #0ca5ea;
    color: #fff;
    outline: 0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}
.nev-pills > li > a {
    padding: 16px;
}
.nev-pills > li.active > a,
.nev-pills > li.active > a:focus,
.nev-pills > li.active > a:hover {
    background-color: #0ca5ea;
    color: #FFF;
    height: 61px;
    padding: 16px;
    outline: 0;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}
.plsi > li.active > a,
.plsi > li.active > a:focus,
.plsi > li.active > a:hover {
    background-color: #0ca4e9;
    color: #fff;
    height: 66px;
    padding: 16px;
    outline: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}
.bet {
    padding: 0px!important;
    background: none!important;
}
.grey span {
    margin-right: 5px;
}
.line-small {
    background: #2b4161;
    height: 10px;
    margin-top: 0px;
}
.plsi > li.active >a span,
.plsi > li.active >a span:focus,
.plsi > li.active >a span:hover {
    background-color: #fff;
    color: #0ca5ea;
}
.plsi > li > a span:focus,
.plsi > li > a span:hover {
    background-color: #fff;
    color: #333;
}
.plsi > li > a:focus,
.plsi > li > a:hover {
    background-color: #0ca5ea;
    color: #FFF;
    height: 66px;
    outline: 0;
    padding-bottom: 17px;
}
.nev > li > a:focus,
.nev > li > a:hover {
    background-color: #0ca5ea;
    color: #FFF;
    height: 61px;
    outline: 0;
}
.select2 {
    width: 48%!important;
    float: left;
    margin-left: 1%;
    margin-right: 1%;
}
.foot-bottom {
    position: absolute;
    bottom: 0px;
    width: 100%
}
.teb {
    background: #fff!important;
    margin-top: 0px;
    padding: 30px 40px 30px 40px;
}
.lapak-list {
    padding: 10px 0px;
    color: #0ca4e9;
    border-bottom: 2px solid #ccc;
}
.tab-pane {
    margin-top: 0px;
    padding: 30px 30px 30px 30px;
}
.tab-pane#sekolah {
    padding-top: 0px;
}
.form {
    width: 100%;
    padding: 15px;
    border: 1px solid #ccc;
    background: #fff;
    margin-bottom: 10px;
    color: #a3a2a2;
    font-size: 16px;
}
.btn1 {
    padding: 15px;
    background: #0ca5ea;
    color: #fff;
    border: none;
    border-radius: 2px;
}
.btn2 {
    background: #0ca4e9;
    color: #fff;
    border: none;
    border-radius: 2px;
}
.btn3 {
    background: #0ca5ea;
    color: #fff;
    border: none;
    border-radius: 2px;
    padding: 10px 30px 10px 30px;
    margin-top: 8px;
    margin-bottom: 8px
}
.desc {
    padding-top: 30px;
    padding-bottom: 30px;
}
.title2 h3 {
    text-transform: uppercase;
    color: #2b4161
}
.title2 span {
    color: #0ca5ea;
    top: -5px;
    position: relative;
}
.btn1 span {
    color: #fff;
    top: 0px;
}
.kotak {
    background: #fff;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 60px 120px 30px 120px;
}
.kotak2 {
    border-radius: 10px;
    border: 1px solid #cccccc;
    background: white;
    padding: 50px 40px;
}
.kotak3 {
    background: #fff;
    padding: 50px;
}
.kotak4 {
    background: #fff;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 30px 30px;
}
.box-search {
    border-bottom: 2px solid #ccc;
    padding: 20px 0px 20px 0px
}
.matobot {
    margin-top: 40px;
    margin-bottom: 40px;
}
.marbot {
    margin-bottom: 30px!important;
}
.marbot2 {
    margin-bottom: 120px!important;
}
.martop {
    margin-top: 20px;
}
.martop2 {
    margin-top: 50px;
}
.bortom {
    border-bottom: 1px solid #dedee0;
    padding-bottom: 5px;
}
.bortomtop {
    border-bottom: 1px solid #dedee0;
    padding-bottom: 5px;
    border-top: 1px solid #dedee0;
    padding-top: 20px;
}
.side-right {
    padding-left: 60px;
    padding-top: 20px;
}
.modal-header {
    border: none;
    text-align: center;
}
.modal-body {
    padding: 35px;
    position: relative;
}
.tabse {
    width: 30%;
    border: 1px solid #0ca5ea;
    border-bottom: solid 0px;
    background: #fff;
    color: #0ca5ea;
    text-align: center;
    font-size: 20px;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.tabse a {
    color: #0ca5ea;
}
#p-sekolah {
    background: #fff;
    padding: none;
    margin: 0px 30px;
    border-bottom: solid 4px #0ca5ea;
}
.white {
    background: #fff;
}
.padding-none {
    padding-left: 0px;
    padding-right: 0px;
}
.list-book {
    color: #606060;
    margin-bottom: 30px;
}
.price-list {
    bottom: 0px
}
.ko-price {
    margin-top: 20px;
}
.tab-atasan {
    background: #fff none repeat scroll 0 0;
    width: auto;
}
.tab-atasan span {
    background: #0ca5ea;
    color: #fff;
    padding: 5px;
    padding-left: 13px;
    padding-right: 13px;
    border-radius: 5px;
}
.tab-atasan a {
    color: #0ca5ea;
}
.border {
    border: 1px solid #ccc;
}
.disc {
    text-decoration: line-through;
    float: left;
    margin-right: 15px;
    margin-bottom: 10px;
}
.price-list2 {
    float: left;
}
.padding-botop {
    padding-top: 10px;
    padding-bottom: 10px;
}
.grey {
    color: #808082;
}
.grey2 {
    color: #bebebe;
}
.green {
    color: #4fba48;
}
.red {
    color: #ea1a4b;
}
.yellow {
    color: #f5d23a;
}
.blue {
    color: #2b4161;
}
.border-top-grey {
    border-top: 1px solid #ccc;
}
.patop-20 {
    padding-top: 20px;
}
.b-grey {
    background: #2b4161;
}
.b-red {
    background: #a51114;
}
.float-l {
    float: left;
    margin-right: 20px;
}
.width-100 {
    width: 100px;
}
.width-seratus {
    width: 100%;
}
.radius-kotak {
    border: 1px solid #cccccc;
    border-radius: 5px;
    margin-bottom: 70px;
}
.header-background {
    border-bottom: 1px solid #cccccc;
    padding: 20px;
    background: #fffbfb;
    border-radius: 5px 5px 0px 0px
}
.header-background h4 {
    color: #5dbfef;
}
.padding-20 {
    padding: 20px;
}
.large {
    padding: 20px;
    font-weight: bold;
    font-size: 15px;
}
.medium {
    padding: 15px;
    font-weight: bold;
    font-size: 15px;
}
.form-group {
    margin-bottom: 5px;
}
#info {
    margin: 10px 0 50px 0;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}
#info .wrapper {
    display: inline-block;
    width: 300px;
    margin: 0 10px 0 0;
    height: 20px;
    position: relative;
}
#info .parent {
    height: 40px;
    width: 40px;
    display: block;
    cursor: pointer;
    line-height: 30px;
    height: auto;
    border-radius: 5px;
    background: #F9F9F9;
    border: 1px solid #AAA;
    color: #282D31;
    font-weight: bold;
    z-index: 2;
    position: relative;
    -webkit-transition: border-radius .1s linear, background .1s linear, z-index 0s linear;
    -webkit-transition-delay: .8s;
    text-align: center;
}
#info .parent:hover,
#info .content:hover ~ .parent {
    background: #fff;
    -webkit-transition-delay: 0s, 0s, 0s;
}
#info .content:hover ~ .parent {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    z-index: 0;
}
.large2 {
    font-size: 15px;
    font-weight: bold;
    padding-bottom: 20px;
    padding-top: 20px;
}
#info .content {
    position: absolute;
    top: 0;
    display: block;
    z-index: 1;
    height: 0;
    width: 230px;
    padding-top: 30px;
    -webkit-transition: height .5s ease;
    -webkit-transition-delay: .4s;
}
#info .wrapper:active .content {
    height: auto;
    z-index: 3;
    -webkit-transition-delay: 0s;
}
#info .content:hover {
    height: auto;
    z-index: 3;
    -webkit-transition-delay: 0s;
}
#info .content ul {
    background: #fff;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
#info .content ul a {
    text-decoration: none;
}
#info .content li:hover {
    background: #eee;
    color: #333;
}
#info .content li {
    list-style: none;
    text-align: left;
    color: #FFF;
    font-size: 14px;
    padding-left: 10px;
    padding-top: 10px;
    height: 40px;
    background: #3a3a3a;
}
.bar {
    height: 5px;
    background: grey;
    padding: 0px
}
.kotak-bullet {
    width: 16.6%;
    float: left;
    text-align: center
}
.bullet {
    height: 30px;
    background: #2b4161;
    position: relative;
    top: -12px;
    border-radius: 20px;
    width: 30px;
    color: #fff;
    text-align: center;
    font-size: 20px;
    margin: 0 auto;
}
.arrow-sel {
    overflow: hidden;
    background: url(../images/arrow.png) no-repeat right #fff;
    background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 20px) calc(1em + 2px), 100% 0;
}
select {
    display: inline-block;
    line-height: 1.5em;
    padding-right: 5px;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
}
::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    
    color: #a3a2a2;
}
:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    
    color: #a3a2a2;
    opacity: 1;
}
::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    
    color: #a3a2a2;
    opacity: 1;
}
:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    
    color: #a3a2a2;
}
.school {
    background: url(../images/school.png) no-repeat left #fff!important;
    background-position: 10px 15px!important;
}
.schoolin {
    padding-left: 40px;
}
#search {
    background-image: url(../images/search.png);
    background-repeat: no-repeat;
    background-position: 40px 0px!important;
    padding-right: 30px;
}
.line-top {
    border-top: 1px solid grey;
    padding: 20px 0px;
}
.line-top-bottom {
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    padding: 20px 0px
}
.select2-container .select2-choice .select2-arrow {
    background-color: #fff!important;
    border-left: 0px!important;
    border-radius: 0px!important;
    width: 30px!important;
    margin-top: 5px;
}
.select2-container .select2-choice {
    -moz-user-select: none;
    background-clip: padding-box;
    background-color: #fff!important;
    background-image: none!important;
    border: 0px!important;
    border-radius: 0px!important;
    color: #a3a2a2!important;
    display: block;
    height: 21px!important;
    line-height: 21px!important;
    overflow: hidden;
    padding: 0 0 0 8px;
    position: relative;
    text-decoration: none;
    white-space: nowrap;
}
.select2-container .select2-choice .select2-arrow b {
    background: #fff url("../images/arrow.png") no-repeat!important;
    display: block;
    height: 100%;
    width: 100%;
}
.select2-dropdown-open.select2-drop-above .select2-choice,
.select2-dropdown-open.select2-drop-above .select2-choices {
    background: #fff none repeat scroll 0 0 !important;
    background-image: none!important;
}
.alert {
    margin-top: 10px;
}
.alert-error {
    background: #d70e26;
    color: #fff;
}
footer {
    background: #fff;
    color: #6d6d6d;
}
footer span,
footer a {
    color: #6d6d6d;
}
/* REVISI HOMEPAGE BY BAKHTIAR */

section.sec-main {
    min-height: 690px;
    margin: 0px;
}
section.sec-lapak-baru {
    background-color: #f4f4f4;
    margin: 0px;
    padding: 40px 0px 0px 0px;
}
section.sec-lapak-baru .container {
    border-top: solid 3px #0ca5ea;
    display: block;
    background-color: #ffffff;
}
section.sec-lapak-baru .container > div {
    padding: 20px 0px;
}
section.sec-lapak-baru .container > div p {
    display: block;
}
section.sec-lapak-baru .container > div.column-title {
    border-right: solid 1px #f4f4f4;
    min-height: 250px;
}
section.sec-buku-terlaris {
    background-color: #f4f4f4;
    margin: 0px;
    padding: 40px 0px 40px 0px;
}
section.sec-buku-terlaris .container {
    border-top: solid 3px #0ca5ea;
    display: block;
    background-color: #ffffff;
}
section.sec-buku-terlaris .container > div {
    padding: 20px 0px;
}
section.sec-buku-terlaris .container > div p {
    display: block;
}
section.sec-buku-terlaris .container > div.column-title {
    border-right: solid 1px #f4f4f4;
    min-height: 250px;
}
.thumb-area {
    width: 100%;
    height: 150px;
    display: block;
    margin: auto;
    margin-bottom: 10px;
    overflow: hidden;
}
section.sec-fasilitas {
    margin-bottom: 40px;
    background-color: #0ca5ea;
    color: #ffffff;
}
section.sec-fasilitas h2 {
    color: #ffffff;
}
section.sec-cara-pembelian {
    margin-bottom: 40px;
}
section.sec-cara-pembelian h2 {
    color: #2b4161;
}
section.sec-cara-pembelian .column-title {
    height: 300px;
}
section.sec-cara-pembelian img {
    margin: 20px 0px 10px 0px;
}
.footer-area {
    background-color: #EAEEF0;
    padding: 40px 0px 60px 0px;
    border-top: solid 1px #c3c6c9;
}
.footer-area h3 {
    font-size: 13px;
    font-weight: bold;
    color: #2b4161;
    margin-bottom: 10px;
}
.footer-area ul,
.footer-area ul li {
    margin: 5px 0px;
    list-style-type: none;
    padding: 0px;
    font-size: 12px;
}
.icon-lapak,
.icon-buku-terlaris {
    background: #fff url("../images/icon-lapak.png") center center no-repeat;
    width: 150px;
    height: 140px;
    text-align: center;
    display: block;
    padding-top: 130px;
    margin: auto;
    margin-top: 10px;
}
.icon-lapak {
    background: #fff url("../images/icon-lapak.png") center center no-repeat;
}
.icon-buku-terlaris {
    background: #fff url("../images/icon-buku-terlaris.png") center center no-repeat;
}
.icon-lapak h3,
.icon-buku-terlaris h3 {
    color: #0ca5ea;
    font-size: 16px;
}
.icon-prev {
    background: #fff url("../images/icon-prev-next.png") 0px 0px no-repeat;
    display: block;
    width: 50px;
    height: 50px;
    margin: auto;
    margin-top: 60px;
}
.icon-next {
    background: #fff url("../images/icon-prev-next.png") -50px 0px no-repeat;
    display: block;
    width: 50px;
    height: 50px;
    margin: auto;
    margin-top: 60px;
}
.icon-prev em,
.icon-next em {
    display: none;
}
span.icon-location {
    background: transparent url("../images/5.png") top left no-repeat;
    display: block;
    width: 23px;
    height: 16px;
    float: left;
    opacity: 0.4;
}
span.icon-phone {
    background: transparent url("../images/2.png") top left no-repeat;
    display: block;
    width: 23px;
    height: 16px;
    float: left;
    opacity: 0.4;
}
span.icon-fax {
    background: transparent url("../images/10.png") top left no-repeat;
    display: block;
    width: 23px;
    height: 16px;
    float: left;
    opacity: 0.4;
}
span.icon-wa {
    background: transparent url("../images/4.png") top left no-repeat;
    display: block;
    width: 23px;
    height: 16px;
    float: left;
    opacity: 0.4;
}
.text-copyright {
    font-size: 12px;
    color: #c1c2c2;
}
#back-to-top {
    position: fixed;
    bottom: 60px;
    right: 40px;
    z-index: 9999;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 30px;
    background: #f5f5f5;
    color: #444;
    cursor: pointer;
    border: 0;
    border-radius: 2px;
    text-decoration: none;
    transition: opacity 0.2s ease-out;
    opacity: 0;
}
#back-to-top.show {
    opacity: 1;
}
.lapak-list .price-list {
    font-size: 16px;
}
.tab-container {
    padding: 0px 30px;
}
.nav-pills {
    padding: 0px 0px;
}
.di-depan {
    padding: 30px 20px;
}